<% include ../partials/header %>

<div id="overlay"></div>
<div id="homepage">

<h1>Welcome to the user authentication Demo Homepage!</h1>
<h3>Login to acess the secret Page</h3>

<li><a type="button" class="btn btn-success" href="/register">Sign Up!</a></li>
<li><a type="button" class="btn btn-primary" href="/login">Login!</a></li>
<li><a type="button" class="btn btn-danger" href="/logout">Logout!</a></li>

</div>


<% include ../partials/footer%>